[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
openpyxl = "*"
pandas = "*"
numpy = "*"
winreg = "*"
configparser = "*"
httplib2 = "*"
requests = "*"
freezegun = "*"
qrcode = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
